body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main > div {
    padding: 10px;
}

.header {
    height: 50px;
    display: grid;
    padding: 10px;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.left {
    height: 100vh;
    text-align: center;
    border-right: 2px solid black;
}

.groups {
    display: grid;
    grid-auto-rows: 40px;
}

.groups > button {
    padding: 10px;
}

.group {
    gap: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.right {
    height: 100vh;
}

.right-header {
    gap: 10px;
    height: 50px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.right-header > .group-name {
    font-size: 35px;
}

.edit, .delete, .note, 
.delete-group, .edit-title {
    border: none;
    width: 15px;
    height: 15px;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.non-note {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.non-note > div {
    gap: 5px;
    display: flex;
    align-items: center;
}

.display-note {
    display: flex;
    flex-wrap: wrap;
    margin-left: 14px;
}

.right-info, .display-note {
    font-size: smaller;
}

.tasks {
    margin-bottom: 5px;
}

.add-task-div, .add-group-div {
    padding-top: 10px;
}

.add-task {
    margin-left: 10px;
}

.task-name {
    font-size: medium;
}

.task-due {
    font-size: smaller;
}

input:disabled, textarea:disabled, select:disabled {
    border: none;
    color: black;
    background-color: transparent;
}