body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.main > div {
    padding: 10px;
}

.header {
    height: 50px;
    display: grid;
    padding: 10px;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.left {
    height: 100vh;
    text-align: center;
    border-right: 2px solid black;
}

.groups {
    display: grid;
    grid-auto-rows: 40px;
}

.groups > div {
    padding: 10px;
}

.groups > div:hover {
    background-color: grey;
}

.group {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    height: 100vh;
}

.right_header {
    gap: 10px;
    height: 50px;
    display: flex;
    padding: 10px;
    align-items: center;
}

.group_name {
    font-size: 35px;
}

.edit, .delete, .note, .delete-group, .edit-title {
    border: none;
    width: 15px;
    height: 15px;
}

.task {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.task > div {
    gap: 5px;
    display: flex;
    align-items: center;
}

.right-info {
    font-size: smaller;
}

.tasks {
    margin-bottom: 5px;
}

.add-button {
    padding: 10px;
}

input {
    /* border: none; */
}

.task-name {
    font-size: medium;
}

.task-due {
    font-size: smaller;
}

input:disabled {
    color: black;
    background-color: transparent;
}